<header >
<mat-card  class="header">
 <img src="./../assets/img/wakaba.png">
 <div><b>Association de découverte de la culture japonaise</b></div>
</mat-card>
</header>


<mat-card style="background-color: rgb(189, 218, 189);" class="example-card">
<app-menu></app-menu>
</mat-card>

<mat-card style="background-color: rgb(189, 218, 189); height: 100%" class="example-card">
<router-outlet></router-outlet>
</mat-card>

<footer>
    <mat-card style="position: absolute; bottom: 0;width: 100%; background-color: black; color: white" class="example-card">Je suis un footer et je suis tout en bas
    </mat-card>
</footer>
